*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* inherited the box-sizing property in the body selector to apply in the entire document */
  box-sizing: inherit; }

body {
  /* let us customize the box size model with specific unit without the default values */
  box-sizing: border-box; }

.navbar {
  font-family: "Muli",sans-serif;
  width: 100%;
  height: 5.7rem;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(216, 216, 218, 0.7); }
  .navbar__sub-container {
    display: flex;
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: rgba(0, 0, 0, 0.95);
    box-shadow: 0 2px 5px 0 rgba(216, 216, 218, 0.7); }
    .navbar__sub-container .navbar__left {
      display: flex;
      align-items: center;
      list-style: none; }
      .navbar__sub-container .navbar__left__menu {
        margin: 0 1rem 0 3rem;
        /* Extra Small Devices, Phones */
        /* Small Devices, Tablets */
        /* Medium Devices */
        /* Large Devices, Wide Screens */ }
        .navbar__sub-container .navbar__left__menu__logo {
          width: 25px; }
        @media (max-width: 1024px) {
          .navbar__sub-container .navbar__left__menu {
            margin: 0 1rem 0 .5rem; } }
      .navbar__sub-container .navbar__left__logo__img {
        width: 175px;
        /* Extra Small Devices, Phones */
        /* Small Devices, Tablets */
        /* Medium Devices */
        /* Large Devices, Wide Screens */
        /* Extra Small Devices, Phones */
        /* Small Devices, Tablets */
        /* Medium Devices */
        /* Large Devices, Wide Screens */ }
        @media (max-width: 768px) {
          .navbar__sub-container .navbar__left__logo__img {
            margin-left: 13rem; } }
        @media (max-width: 512px) {
          .navbar__sub-container .navbar__left__logo__img {
            margin-left: 4rem; } }
    .navbar__sub-container .navbar__right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
      /* Extra Small Devices, Phones */
      /* Small Devices, Tablets */
      /* Medium Devices */
      /* Large Devices, Wide Screens */ }
      @media (max-width: 768px) {
        .navbar__sub-container .navbar__right {
          display: none; } }
      .navbar__sub-container .navbar__right__list {
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 700;
        line-height: 24px;
        list-style: none;
        padding: 12px 8px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        /* Extra Small Devices, Phones */
        /* Small Devices, Tablets */
        /* Medium Devices */
        /* Large Devices, Wide Screens */ }
        @media (max-width: 1024px) {
          .navbar__sub-container .navbar__right__list {
            font-size: 12px;
            padding: 6px 5px; } }
        .navbar__sub-container .navbar__right__list__link {
          display: inline-block;
          color: rgba(0, 0, 0, 0.95);
          text-decoration: none; }
          .navbar__sub-container .navbar__right__list__link:hover {
            color: #8ebabd; }
        .navbar__sub-container .navbar__right__list--active {
          text-decoration: none;
          color: #af4aaf; }
        .navbar__sub-container .navbar__right__list__search {
          margin: 0 .5rem;
          height: 22px; }
        .navbar__sub-container .navbar__right__list__log {
          margin: 0 .7rem;
          height: 23px; }

.main-container {
  margin: 0 auto;
  width: 70%;
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices */
  /* Large Devices, Wide Screens */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices */
  /* Large Devices, Wide Screens */ }
  @media (max-width: 1024px) {
    .main-container {
      width: 80%; } }
  @media (max-width: 768px) {
    .main-container {
      width: 93%; } }
  .main-container .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    width: 100%; }
    .main-container .header__container {
      display: flex;
      flex-direction: column; }
    .main-container .header__links {
      display: flex;
      justify-content: center;
      margin-bottom: 18px; }
      .main-container .header__links__list {
        font-family: 'Muli', sans-serif;
        font-size: 13px;
        line-height: 16px;
        font-weight: 700;
        margin: 0 13px;
        color: #8ebabd; }
        .main-container .header__links__list__text {
          color: #8ebabd;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: .5px; }
          .main-container .header__links__list__text:hover {
            color: #0f7bae; }
        .main-container .header__links__list:first-child {
          list-style: none; }
    .main-container .header__heading {
      font-family: "Libre Baskerville", sans-serif;
      font-weight: 700;
      font-size: 46px;
      line-height: 52px;
      text-align: center;
      margin: 0 0 18px 0;
      color: #111;
      /* Extra Small Devices, Phones */
      /* Small Devices, Tablets */
      /* Medium Devices */
      /* Large Devices, Wide Screens */
      /* Extra Small Devices, Phones */
      /* Small Devices, Tablets */
      /* Medium Devices */
      /* Large Devices, Wide Screens */ }
      @media (max-width: 768px) {
        .main-container .header__heading {
          font-size: 34px; } }
      @media (max-width: 512px) {
        .main-container .header__heading {
          font-size: 28px;
          line-height: 36px; } }
    .main-container .header__social-media {
      display: flex;
      justify-content: center; }
      .main-container .header__social-media__icons {
        width: 18%;
        height: 100%;
        /* Extra Small Devices, Phones */
        /* Small Devices, Tablets */
        /* Medium Devices */
        /* Large Devices, Wide Screens */
        /* Extra Small Devices, Phones */
        /* Small Devices, Tablets */
        /* Medium Devices */
        /* Large Devices, Wide Screens */ }
        @media (max-width: 768px) {
          .main-container .header__social-media__icons {
            width: 27%; } }
        @media (max-width: 512px) {
          .main-container .header__social-media__icons {
            width: 50%; } }
    .main-container .header__figure {
      margin: 20px auto; }
      .main-container .header__figure__image {
        width: 100%; }
      .main-container .header__figure__caption {
        font-family: 'Muli', sans-serif;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .5px;
        margin: 5px 16px;
        color: #a3a5a9; }
  .main-container .main-content {
    font-family: 'Muli', sans-serif;
    margin: 20px auto;
    max-width: 800px; }
    .main-container .main-content__heading {
      font-size: 18px;
      line-height: 28px;
      font-weight: 500;
      text-align: left;
      font-style: italic;
      letter-spacing: 1px;
      color: #282f2f; }
    .main-container .main-content__paragraph {
      font-size: 18px;
      line-height: 34px;
      margin: 2rem 0;
      color: #111; }
    .main-container .main-content__paragraph--italic {
      font-size: 15px;
      line-height: 20px;
      letter-spacing: .5px;
      font-style: italic;
      margin: 1rem 0;
      color: rgba(0, 0, 0, 0.3); }
    .main-container .main-content__author {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .5px;
      margin: 1rem 0;
      color: #8ebabd; }
    .main-container .main-content__figure__heading {
      display: inline-block;
      font-family: 'Libre Baskerville',sans-serif;
      font-size: 25px;
      letter-spacing: .5px;
      margin: 20px 0;
      text-decoration: underline;
      /* Extra Small Devices, Phones */
      /* Small Devices, Tablets */
      /* Medium Devices */
      /* Large Devices, Wide Screens */ }
      @media (max-width: 512px) {
        .main-container .main-content__figure__heading {
          font-size: 24px; } }
      .main-container .main-content__figure__heading:hover {
        color: rgba(0, 0, 0, 0.65);
        border-bottom: 2px solid rgba(0, 0, 0, 0.65); }
    .main-container .main-content__figure__img {
      width: 100%; }
    .main-container .main-content__figure__caption {
      font-size: 13px;
      line-height: 16px;
      letter-spacing: .5px;
      margin: 5px 16px;
      color: #a3a5a9; }

.footer {
  display: flex;
  font-family: 'Muli', sans-serif;
  flex-direction: column;
  margin: 2rem auto;
  border-top: 1px solid #D7D7D9; }
  .footer .figure {
    margin: 0 auto; }
    .footer .figure__logo {
      display: block;
      margin: 2rem auto;
      width: 180px; }
    .footer .figure__social {
      width: 215px;
      margin-bottom: 2rem; }
  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem 0;
    border-top: 1px solid #D7D7D9;
    border-bottom: 1px solid #D7D7D9; }
  .footer__first-col__items {
    list-style: none;
    padding: 3px 0;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    .footer__first-col__items:first-child {
      margin-bottom: 10px; }
    @media (max-width: 512px) {
      .footer__first-col__items {
        margin-left: 10px;
        margin-right: 32px; } }
    .footer__first-col__items__link--heading {
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      padding: 1rem 0;
      color: rgba(0, 0, 0, 0.95); }
    .footer__first-col__items__link {
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      letter-spacing: .5px;
      color: #8b8d91; }
      .footer__first-col__items__link:hover {
        color: rgba(0, 0, 0, 0.95); }
  .footer__second-col {
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__second-col {
        margin-bottom: 2rem; } }
    .footer__second-col__items {
      list-style: none;
      padding: 3px 0;
      /* Extra Small Devices, Phones */
      /* Small Devices, Tablets */
      /* Medium Devices */
      /* Large Devices, Wide Screens */ }
      .footer__second-col__items:first-child {
        margin-bottom: 10px; }
      @media (max-width: 512px) {
        .footer__second-col__items {
          margin-right: 32px; } }
      .footer__second-col__items__link--heading {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
        padding: 1rem 0;
        color: rgba(0, 0, 0, 0.95); }
      .footer__second-col__items__link {
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        letter-spacing: .5px;
        color: #8b8d91; }
        .footer__second-col__items__link:hover {
          color: rgba(0, 0, 0, 0.95); }
  .footer__third-col {
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__third-col {
        margin-bottom: 2rem; } }
    .footer__third-col__items {
      list-style: none;
      padding: 3px 0;
      /* Extra Small Devices, Phones */
      /* Small Devices, Tablets */
      /* Medium Devices */
      /* Large Devices, Wide Screens */ }
      .footer__third-col__items:first-child {
        margin-bottom: 10px; }
      @media (max-width: 512px) {
        .footer__third-col__items {
          margin-left: 10px;
          margin-right: 32px; } }
      .footer__third-col__items__link--heading {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
        padding: 1rem 0;
        color: rgba(0, 0, 0, 0.95); }
      .footer__third-col__items__link {
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        letter-spacing: .5px;
        color: #8b8d91; }
        .footer__third-col__items__link:hover {
          color: rgba(0, 0, 0, 0.95); }
  .footer__fourth-col__items {
    list-style: none;
    padding: 3px 0;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    .footer__fourth-col__items:first-child {
      margin-bottom: 10px; }
    @media (max-width: 512px) {
      .footer__fourth-col__items {
        margin-right: 32px; } }
    .footer__fourth-col__items__link--heading {
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      padding: 1rem 0;
      color: rgba(0, 0, 0, 0.95); }
    .footer__fourth-col__items__link {
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      letter-spacing: .5px;
      color: #8b8d91; }
      .footer__fourth-col__items__link:hover {
        color: rgba(0, 0, 0, 0.95); }
  .footer__fifth-col__items {
    list-style: none;
    padding: 3px 0;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    .footer__fifth-col__items:first-child {
      margin-bottom: 10px; }
    @media (max-width: 512px) {
      .footer__fifth-col__items {
        margin-right: 12rem; } }
    .footer__fifth-col__items__link--heading {
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      padding: 1rem 0;
      color: rgba(0, 0, 0, 0.95); }
    .footer__fifth-col__items__link {
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      letter-spacing: .5px;
      color: #8b8d91; }
      .footer__fifth-col__items__link:hover {
        color: rgba(0, 0, 0, 0.95); }
  .footer .copyright {
    margin: 1rem auto;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .5px;
    padding: 0 16px;
    color: #8b8d91; }
